<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9h8daCr69OS9ILwfU3IKauzosJhBmnGA</string>
	<key>GCM_SENDER_ID</key>
	<string>307036523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eWasteCatalog.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-waste-b48af</string>
	<key>STORAGE_BUCKET</key>
	<string>e-waste-b48af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307036523:ios:948e7b0fc5c53a61234c2e</string>
</dict>
</plist>